@font-face {
  font-family: Avenir;
  src: url("../fonts/Avenir/AvenirLTStd-Book.otf") format("opentype"); }

@font-face {
  font-family: Aleo;
  src: url("../fonts/Aleo/Aleo-Regular.otf") format("opentype"); }

@media (max-width: 575.98px) {
  html {
    font-size: 55%; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 58%; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 60%; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 62.5%; } }

@media (min-width: 1200px) {
  html {
    font-size: 62.5%; } }

body {
  font-size: 1.8rem;
  font-family: Avenir;
  line-height: 1.5;
  overflow-x: hidden !important; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: Aleo;
  font-weight: bold; }

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5; }

a {
  color: #FF6F3F; }
  a:hover {
    text-decoration: none;
    color: #FF6F3F;
    opacity: .7; }

img.icon {
  width: 4rem;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated; }

a.bp-btn {
  color: white;
  font-size: 1.6rem;
  padding: 1rem 1.8rem;
  font-family: Aleo;
  font-weight: bold;
  transition: ease all .2s;
  text-transform: uppercase;
  background-color: purple;
  text-decoration: none; }
  a.bp-btn.orange {
    background-color: #FF6F3F; }
  a.bp-btn.blue {
    background-color: #528CA5; }
  a.bp-btn.brown {
    background-color: #7F6C5F; }
  a.bp-btn.lg {
    padding: 1rem 3.6rem; }
  a.bp-btn:hover {
    opacity: .8; }

article.hero {
  padding: 14rem 1.5rem 20rem;
  margin-bottom: -.1rem;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: bottom; }
  article.hero .content {
    text-align: center; }
    article.hero .content h1 {
      color: #FFAF3F; }
    article.hero .content p {
      color: #7F6C5F; }
    article.hero .content h1, article.hero .content p {
      margin-bottom: 2rem; }
    article.hero .content img.logo {
      width: 28rem;
      height: 28rem;
      margin-bottom: 1rem; }
  article.hero section.top {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    padding: 2rem; }
    article.hero section.top a {
      position: relative;
      top: -.5rem;
      margin-left: 1rem; }
      article.hero section.top a:hover {
        top: -.2rem; }
      article.hero section.top a::before {
        content: '';
        position: absolute;
        z-index: 7;
        left: 10%;
        top: -2rem;
        right: 0;
        border-left: 4px solid #7F6C5F;
        border-right: 4px solid #7F6C5F;
        background-color: transparent;
        width: 80%;
        height: 2rem; }
      article.hero section.top a.orange::before {
        border-color: #FF6F3F; }
      article.hero section.top a.blue::before {
        border-color: #528CA5; }

.page-section, article.intro, article.trails, article.colorwar, article.schedule, article.faq, article.sponsors, article.footer {
  position: relative;
  padding: 12rem 0rem; }
  .page-section .trail, article.intro .trail, article.trails .trail, article.colorwar .trail, article.schedule .trail, article.faq .trail, article.sponsors .trail, article.footer .trail {
    position: absolute;
    z-index: 99;
    top: -10rem;
    width: 50rem;
    max-width: 48%; }
    .page-section .trail.left, article.intro .trail.left, article.trails .trail.left, article.colorwar .trail.left, article.schedule .trail.left, article.faq .trail.left, article.sponsors .trail.left, article.footer .trail.left {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1) rotate(-10deg);
      right: 50%; }
    .page-section .trail.right, article.intro .trail.right, article.trails .trail.right, article.colorwar .trail.right, article.schedule .trail.right, article.faq .trail.right, article.sponsors .trail.right, article.footer .trail.right {
      transform: rotate(-10deg);
      left: 50%; }
  .page-section h2, article.intro h2, article.trails h2, article.colorwar h2, article.schedule h2, article.faq h2, article.sponsors h2, article.footer h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem; }
  .page-section h3, article.intro h3, article.trails h3, article.colorwar h3, article.schedule h3, article.faq h3, article.sponsors h3, article.footer h3 {
    font-weight: normal;
    opacity: .9; }
  .page-section h4, article.intro h4, article.trails h4, article.colorwar h4, article.schedule h4, article.faq h4, article.sponsors h4, article.footer h4 {
    font-size: 2.0rem;
    color: #FFAF3F; }
  .page-section h5, article.intro h5, article.trails h5, article.colorwar h5, article.schedule h5, article.faq h5, article.sponsors h5, article.footer h5 {
    font-size: 1.8rem;
    color: #FFAF3F; }
  .page-section p, article.intro p, article.trails p, article.colorwar p, article.schedule p, article.faq p, article.sponsors p, article.footer p {
    margin-top: 4rem;
    opacity: .9; }
  .page-section .btn-container, article.intro .btn-container, article.trails .btn-container, article.colorwar .btn-container, article.schedule .btn-container, article.faq .btn-container, article.sponsors .btn-container, article.footer .btn-container {
    margin-top: 4rem; }
  .page-section.dark, article.dark.intro, article.dark.trails, article.dark.colorwar, article.dark.schedule, article.dark.faq, article.dark.sponsors, article.dark.footer {
    background-color: #1A2E33;
    color: white; }
  .page-section.medium, article.medium.intro, article.medium.trails, article.medium.colorwar, article.medium.schedule, article.medium.faq, article.medium.sponsors, article.medium.footer {
    background-color: #22363c;
    color: white; }

@media (max-width: 767.98px) {
  article.intro {
    text-align: center; } }

article.trails .col-content {
  margin-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem; }
  article.trails .col-content .icon {
    margin-top: 4rem;
    margin-bottom: 2rem; }

article.colorwar .icon {
  width: 8rem;
  margin-bottom: 4rem; }

article.faq h5 {
  margin-top: 4rem; }

article.faq p {
  margin-top: 2rem; }

article.footer .social-icons a {
  margin-left: 2rem; }
  article.footer .social-icons a:first-child {
    margin-left: 0; }
  article.footer .social-icons a .icon {
    transition: ease all .2s;
    margin-top: 4rem;
    margin-bottom: 2rem;
    width: 4rem; }
  article.footer .social-icons a:hover .icon {
    opacity: .7; }

div.separator {
  height: 16rem;
  margin-top: -.1rem;
  margin-bottom: -.1rem;
  background-repeat: repeat-x;
  background-size: cover; }
  div.separator.light-sky {
    background-image: url("../img/testx.jpg"); }
  div.separator.dark-sky {
    background-image: url("../img/testx2.jpg"); }
