@import 'base';
@import 'vars';

a {
  color: $bp-bitcamp-orange;
  &:hover {
    text-decoration: none;
    color: $bp-bitcamp-orange;
    opacity: .7;
  }
}


a.bp-btn {
  color: white;
  font-size: 1.6rem;
  padding: 1rem 1.8rem;
  font-family: Aleo;
  font-weight: bold;
  transition: ease all .2s;
  text-transform: uppercase;
  background-color: purple;
  text-decoration: none;
  &.orange {
    background-color: $bp-bitcamp-orange;
  }
  &.blue {
    background-color: $bp-medium-blue;
  }
  &.brown {
    background-color: $bp-dark-brown;
  }
  &.lg {
    padding: 1rem 3.6rem;
  }
  &:hover {
    opacity: .8;
  }
  // border-top: 2px soid $bp-yellow-orange;
}

article.hero {
  padding: 16rem 1.5rem;
  .content {
    text-align: center;
    h1 {
      color: $bp-yellow-orange;
    }
    p {
      color: $bp-dark-brown;
    }
    h1, p {
      margin-bottom: 2rem;
    }
    img.logo {
      width: 28rem;
      height: 28rem;
      margin-bottom: 1rem;
    }
  }
  section.top {
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    padding: 2rem;
    a {
      position: relative;
      top: -.5rem;
      margin-left: 1rem;
      &:hover {
        top: -.2rem;
      }
      &::before {
        content: '';
        position: absolute;
        z-index: 7;
        left: 10%;
        top: -2rem;
        right: 0;
        border-left: 4px solid $bp-dark-brown;
        border-right: 4px solid $bp-dark-brown;
        background-color: transparent;
        width: 80%;
        height: 2rem;
      }
      &.orange {
        &::before {
          border-color: $bp-bitcamp-orange;
        }
      }
      &.blue {
        &::before {
          border-color: $bp-medium-blue;
        }
      }
    }
  }
}

.page-section {
  padding: 8rem 0rem;
  h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
  h3 {
    font-weight: normal;
    opacity: .9;
  }
  h4 {
    font-size: 2.0rem;
    color: $bp-yellow-orange;
  }
  h5 {
    font-size: 1.8rem;
    color: $bp-yellow-orange;
  }
  p {
    margin-top: 4rem;
    opacity: .9;
  }
  .btn-container {
    margin-top: 4rem;
  }
  &.dark {
    background-color: $bp-midnight-blue;
    color: white;
  }
  &.medium {
    background-color: $bp-midnight-blue-light;
    color: white;
  }
}

article.intro {
  @extend .page-section;

}

article.trails {
  @extend .page-section;
  .col-content {
    margin-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

article.colorwar {
  @extend .page-section;

}

article.schedule {
  @extend .page-section;

}

article.faq {
  @extend .page-section;
  h5 {
    margin-top: 4rem;
  }
  p {
    margin-top: 2rem;
  }
}

article.sponsors {
  @extend .page-section;

}

article.footer {
  @extend .page-section;

}
