.container {max-width: 1000px; margin: 0 auto; overflow: auto;}

.dark {
   background-color: #1A2E33;
   color: white;
}

@font-face {
  font-family: Avenir;
  src: url("../../fonts/Avenir/AvenirLTStd-Book.otf") format("opentype"); }

@font-face {
  font-family: Aleo;
  src: url("../../fonts/Aleo/Aleo-Regular.otf") format("opentype"); }

h3 {padding-top: 18px;}
h1 {
  font-size: 36px;
  padding-top: .5rem;
  margin-top:0px;
  margin-bottom:0px;
}

/*
th {
   font-family: Aleo;
   font-size: 1.5em;
}

table {
  border-spacing: 0; width: 100%;
  background-color: #447589;
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background-color: #528CA5;

}

th, td {
  text-align: left;
  vertical-align: middle;
  padding: 8px;
}

th.number,
td.number {
  width: 10%;
}

td.name {
  font-size: 1.8em;
  width: 40%;
  color: #fff;
}

th.prize,
td.prize {
  width: 40%;
}

th.cat,
td.cat {
  width: 10%;
}
*/

h1 a, #footer a{
  text-decoration: none;
  border:none;
}

.half {max-width: 50%; display: inline-block; vertical-align: top;}
.half:nth-child(odd) {padding-left: 20px;}

/* older css */

body {
  font-family: Avenir;
  font-size: 16px;

  color: #fff;
  background-color: #1A2E33;

  margin: 0;
  padding: 0;
  overflow: auto;
}

hr {border: 2px solid #CCF4FF;}

p a, a {
  color: #062946;
  text-decoration: none;
  padding-bottom: 0px;
  border-bottom: 2px #CCCCCC dotted;
}
a:hover {color: #36648B;}
a:active {color: #36648B;}
small {padding: 10px 0px;}
p, ol {line-height: 1.4;}
text {font-size: 12px;}

body.index p:nth-of-type(2) {font-size: 30px;}
body.index table {border: 4px solid #CCF4FF; padding: 18px;}
.home-link {color: #47CCFC;}

/* funsies */
/*::selection {background: #44FFB4;}
::-moz-selection {background: #44FFB4;}*/

/* filter css */

input {
  border: 1px solid #ccc;
  margin: 0% 10%;
  width: 90%;
  font-size: 16px;
  padding: 8px;
  font-family: Aleo;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

td a {
   line-height: 24px;
   color: #FF6F3F;
}
ul, ol {text-indent: 0; margin: 0; padding-left: 20px;}
ul li {padding-bottom: 6px; line-height: 22px;}

table {
  margin-top: 4em;
  text-align: left;
  width: 100%;
  font-family: Avenir;
  font-size: 1.8em;
  border-collapse:collapse;
}
tr.heading {
   height: 50px;
   border: none;
}
th, td {
   padding: 1rem;
}
th {
    color: #CBF2FF;
    font-weight: bold;
}
tr {
    border-bottom: 2px solid #394a50;
}

.search_container{
  text-align:center;
}

#header {
  width:800px;
  background-color:#fff;
  color:#062946;
  z-index:999999;
  text-align:center;
}

#footer{
  background-color: #1A2E33;
  color: #062946;
  text-align: center;
  padding-bottom: 1rem;
}

#devpost {
}

#devpost_container {
   background-color:rgba(0, 0, 0, 0);
}

#hackathon {
  margin: 30px 0 10px 0;
}

#heading_image {
   z-index: -1;
   position: absolute;
   width: 100%;
   height: 350px;
}

#heading_text {
   /* padding: 5% 0 1% 0;
   margin: 0 34%; */
   font-family: Aleo;
   color: #FF7040;
   font-size: 5em;
   padding-top: 7%;
}

#filter {
   background-color:rgba(26, 46, 51, 0.3);
   color: #FFFFFF;
   width: 60%;
   font-size: 2em;
   outline: #FFFFFF;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: #FFFFFF;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #FFFFFF;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #FFFFFF;
}

@media (max-width: 1024px) {
  .container {max-width: 900px; margin: 0 auto; overflow: auto;}

  #heading_text {
     font-size:5em;
     text-align: 'center';
     padding-bottom: 3%;
 }

  #header {
    width: 100%;
  }

  #hackathon {
    margin: 30px 0 10px 8px;
  }

  #footer p {
    text-align:left;
    padding:0 10px;
  }
}

@media (min-width: 1280px) {
   #heading_text {
      margin-bottom: 4%;
   }

   table {
      margin-top: 3em;
   }
}

@media (min-width: 1600px) {
   #heading_text {
      font-size: 6em;
      margin-bottom: 4%;
   }

   table {
      margin-top: 3em;
   }
}

@media print {
  body {
    color: black !important;
    background: #FFF;
  }

  a {
    color: black !important;
  }

  #header, #footer {
    background-color:#fff;
    color: black;
  }
  .search_container{
    background-color:#fff;
  }
}
