@media screen and (min-width: 500px) {
    body {
        background-color: #CBF2FF;
        position: absolute;
        width: 100%;
        min-width: 1280px; /* Width of container*/
        display: flex;
        justify-content: center; /* Centers items on the line (the x-axis by default)*/
        align-items: center; /* Centers items on the cross-axis (y by default)*/
        padding: 0px; /* Needed for scroll */
        margin: 0px;
    }
    canvas { 
        position: absolute;
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        image-rendering: pixelated;
        -ms-interpolation-mode: nearest-neighbor;
        /*border-radius: 16px;*/
        width: 512px;
        height: 512px;
    }
    a {
        text-decoration: none;
       -moz-user-select: -moz-none;
       -khtml-user-select: none;
       -webkit-user-select: none;
       -ms-user-select: none;
       user-select: none;
    }
    .title {
        height: 40px;
        font-family: "Aleo Bold", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 40px;
        color: #FF6F3F;
        text-align: center;
        flex-flow: column wrap;
       -moz-user-select: -moz-none;
       -khtml-user-select: none;
       -webkit-user-select: none;
       -ms-user-select: none;
       user-select: none;
       cursor: default;
    }
    .subtitle {
        height: 28px;
        font-family: "Aleo Regular", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 28px;
        color: #FFAF3F;
        text-align: center;
        margin-bottom: 8px;
        flex-flow: column wrap;
       -moz-user-select: -moz-none;
       -khtml-user-select: none;
       -webkit-user-select: none;
       -ms-user-select: none;
       user-select: none;
       cursor: default;
    }
    .help__link {
        font-family: "Aleo Regular", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #528CA5;
        position: absolute;
        right: 4px;
        top: -22px;
        text-decoration: none;
        flex-flow: column wrap;
       -moz-user-select: -moz-none;
       -khtml-user-select: none;
       -webkit-user-select: none;
       -ms-user-select: none;
       user-select: none;
    }
    .help__link:active {
        color: #1A2E33;
    }
    .container {
        display: inline-flex;
        background-color: white;
        position: relative;
    }
    .palette-sidebar {
        border-top: 16px solid white;
        border-right: 16px solid white;
        height: 512px;
        width: 64px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /*overflow: hidden;*/
    }
    .palette-container {
        height: 440px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .palette {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .palette__color {
        width: 64px;
        height: 32px;
    }
    .palette--bitcamp {
        display: flex;
    }
    .palette--skin {
        display: none;
    }
    .palette--hair {
        display: none;
    }
    .palette__color--dark-brown {
        background-color: #7F6C5F
    }
    .palette__color--medium-brown {
        background-color: #A58D7C
    }
    .palette__color--light-brown {
        background-color: #E5D8CE
    }
    .palette__color--cloud-white {
        background-color: #FFFFFF
    }
    .palette__color--flame-red {
        background-color: #FF3F46
    }
    .palette__color--bitcamp-orange {
        background-color: #FF6F3F
    }
    .palette__color--yellow-orange {
        background-color: #FFAF3F
    }
    .palette__color--yellow {
        background-color: #FFEF3F
    }
    .palette__color--midnight-blue {
        background-color: #1A2E33
    }
    .palette__color--medium-blue {
        background-color: #528CA5
    }
    .palette__color--sky-blue {
        background-color: #CBF2FF
    }
    .palette__color--skin-1 {
        background-color: #FFDBAC
    }
    .palette__color--skin-2 {
        background-color: #F1C27D
    }
    .palette__color--skin-3 {
        background-color: #E0AC69
    }
    .palette__color--skin-4 {
        background-color: #C68642
    }
    .palette__color--skin-5 {
        background-color: #894C1A
    }
    .palette__color--skin-6 {
        background-color: #583512
    }
    .palette__color--skin-7 {
        background-color: #3E2B13
    }
    .palette__color--hair-1 {
        background-color: #D7D67C
    }
    .palette__color--hair-2 {
        background-color: #C6A969
    }
    .palette__color--hair-3 {
        background-color: #A47A3F
    }
    .palette__color--hair-4 {
        background-color: #9F5924
    }
    .palette__color--hair-5 {
        background-color: #C94A18
    }
    .palette__color--hair-6 {
        background-color: #A62204
    }
    .palette__color--hair-7 {
        background-color: #5D3222
    }
    .palette__color--hair-8 {
        background-color: #47200E
    }
    .palette__color--hair-9 {
        background-color: #3A0A10
    }
    .palette__color--hair-10 {
        background-color: #210E06
    }
    .palette__color--hair-11 {
        background-color: #0C0C0C
    }
    .d-pad-container {
        width: 128px;
        height: 160px; /* 128 + 16 + 16*/
        margin-top: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .d-pad {
        width: 128px;
        height: 42px;
        display: flex;
    }
    .d-pad--up {
        justify-content: center;
    }
    .d-pad--mid {
        justify-content: space-between;
    }
    .d-pad--down {
        justify-content: center;
    }
    .d-pad__btn {
        font-family: "Avenir", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        color: white;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: 2px solid #FF6F3F;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FF6F3F;
        outline-style: none;
        -webkit-appearance: none;
    }
    .d-pad__btn:active {
        border: 2px solid #FF3F46;
        background-color: #FF3F46;
    }
    .d-pad__btn--disabled {
        opacity: 0.6;
        border: 2px solid #FF6F3F;
        background-color: #FF6F3F;
    }
    .tools-sidebar {
        border: 16px solid white;
        height: 512px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .move-tools {
        margin-top: 8px; /* shifts down*/
        width: 64px;
        height: 168px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .move-tools__btn {
        font-family: "Avenir", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        color: white;
        border: 2px solid #FF6F3F;
        background-color: #FF6F3F;
        height: 36px;
        width: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: normal;
        border-radius: 8px;
        margin: 2px;
        outline-style: none;
        -webkit-appearance: none;
    }
    .move-tools__btn:active {
        color: white;
        background-color: #FF3F46;
        border: 2px solid #FF3F46;
    }
    .move-tools__btn--selected {
        color: white;
        background-color: #FF3F46;
        border: 2px solid #FF3F46;
    }
    .move-tools__btn--selected:active {
        color: white;
        background-color: #FF6F3F;
        border: 2px solid #FF6F3F;
    }
    .move-tools__btn--disabled {
        opacity: 0.6;
    }
    .move-tools__btn--disabled:active {
        border: 2px solid #FF6F3F;
        background-color: #FF6F3F;
    }
    .main-tools__btn {
        font-family: "Avenir", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
        color: white;
        border: 2px solid #FFAF3F;
        background-color: #FFAF3F;
        height: 64px;
        width: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: normal;
        border-radius: 50%;
        margin: 4px;
        outline-style: none;
        -webkit-appearance: none;
    }
    .main-tools__btn:active {
        color: white;
        border: 2px solid #FF6F3F;
        background-color: #FF6F3F;
    }
    .main-tools__btn--selected {
        background-color: #FF6F3F;
        border: 2px solid #FF6F3F;
        color: white;
    }
    /*.main-tools__btn--selected:active {
        background-color: white;
        color: #FFAF3F;
    }*/
    .export-tools {
        margin-top: 8px;
    }
    .export-tools__btn {
        font-family: "Avenir", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        color: white;
        border: 2px solid #FFAF3F;
        background-color: #FFAF3F;
        height: 48px;
        width: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: normal;
        border-radius: 8px;
        margin-bottom: 2px;
        outline-style: none;
        -webkit-appearance: none;
        margin-top: 4px;
    }
    .export-tools__btn:active {
        color: white;
        background-color: #FF6F3F;
        border: 2px solid #FF6F3F;
    }
    .export-tools__btn--selected {
        background-color: #FF6F3F;
        color: white;
        border: 2px solid #FF6F3F;
    }
    .center {
        border-top: 16px solid white;
        border-bottom: 16px solid white;
        width: 512px;
        height: 512px;
        position: relative;
    }
    .center-sidebar {
    /*    width: 240px; 32+128+16+64
        height: 512px;*/
        display: flex;
        flex-direction: row;
    }
    .layers-sidebar {
        border: 16px solid white;
        width: 128px;
        height: 512px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
    }
    .layers__btn {
        font-family: "Avenir", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #FFAF3F;
        border: 2px solid #FFAF3F;
        background-color: white;
        height: 32px;
        /*margin-top: 2px;*/
        margin-bottom: 2px;
        margin-left: 4px;
        margin-right: 4px;
        border-radius: 8px;
        width: 120px;
        outline-style: none;
        -webkit-appearance: none;
        background-image: none;
    }
    .layers__btn--selected {
        background-color: #FFAF3F;
        color: white;
    }
    /*.layers__btn--selected:active {
        background-color: white;
        color: #FFAF3F;
    }*/
    .right-sidebar {
        border: 16px solid white;
        border-left: 0px;
        width: 256px; 
        height: 512px;
        background-color: #CBF2FF;
        display: inline;
        /*display: flex;
        justify-content: space-between;
        flex-direction: column;*/
        overflow: hidden;
    }
    .layer-thumbnails-container { 
        height: 448px;
        display: none;
        flex-direction: column;
    }
    .layer-thumbnails__row {
        height: 64px;
        display: flex;
        flex-direction: row;
        /*align-items: center;*/
        /*text-align: center;*/
    }
    .layer-thumbnails__row__cell {
        position: relative;
        font-family: "Aleo Regular", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
        color: #528CA5;
        height: 64px;
        width: 64px;
        display: flex;
        /*white-space: normal;*/
        /*justify-content: center;*/
        text-align: center;
        justify-content: center;
        /*align-self: flex-end;*/
        align-items: center;
        align-content: center;
        /*flex-flow: column wrap;*/
       -moz-user-select: -moz-none;
       -khtml-user-select: none;
       -webkit-user-select: none;
       -ms-user-select: none;
       user-select: none;
       cursor: default;
       border-radius: 8px;
       margin: 0;
    }
    .layer-thumbnails__row__cell__img {
        position: absolute;
        top: 0;
        left: 0;
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        image-rendering: pixelated;
        -ms-interpolation-mode: nearest-neighbor;
        /*align-items: center;*/
        /*justify-content: center;*/
    }
    .layer-thumbnails__row__cell--selected {
        color: #1A2E33;
        background-color: white;
    }
    .layer-thumbnails__row__cell--selected:active {
    }
    .help-container {
        height: 512px;
        width: 256px;
        font-family: "Avenir Light";
        color: #528CA5;
        align-items: center;
        /*justify-content: space-between;*/
        display: none;
        flex-direction: column;
    }
    .help-contents {
        height: 512px;
        width: 256px;
        font-family: "Aleo Regular", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        /*justify-content: space-between;*/
        display: flex;
        flex-direction: column;
        margin-top: 4px;
    }
    .help-topic {
        color: #FFAF3F;
        margin: 12px;
        text-decoration: none;
        flex-flow: column wrap;
       -moz-user-select: -moz-none;
       -khtml-user-select: none;
       -webkit-user-select: none;
       -ms-user-select: none;
       user-select: none;
    }
    .help-nav-container {
        height: 64px;
        width: 256px;
        display: none;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .help-nav__btn {
        font-family: "Avenir", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        color: white;
        margin: 8px;
        width: 64px;
        height: 32px;
        border-radius: 8px;
        border: 2px solid white;
        display: none;
        justify-content: center;
        background-color: #FFAF3F;
        outline-style: none;
        -webkit-appearance: none;
    }
    .help-nav__btn:active {
        background-color: #FF3F46;
    }
    .help-message-container {
        height: 512px;
        width: 256px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
    }
    .help-message {
        align-items: center; /* Center or top?*/
        justify-content: center;
        /*margin: 8px;*/
        padding: 8px;
        display: none;
    }
    .intro__img {
        margin: 8px;
    }
    .intro-message-container {
        height: 512px;
        width: 256px;
        font-family: "Avenir Light";
        color: #528CA5;
        align-items: center;
        /*justify-content: space-between;*/
        display: flex;
        flex-direction: column;
    }
    .intro-message {
        margin-top: 8px;
        height: 280px;
        padding: 8px;
        text-align: center;
    }
    .intro__btn {
        font-family: "Avenir", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: white;
        border: 2px solid white;
        background-color: #FFAF3F;
        height: 32px;
        border-radius: 8px;
        width: 120px;
        outline-style: none;
        margin-bottom: 8px;
        -webkit-appearance: none;
    }
    .intro__btn:active {
        background-color: white;
        color: #FFAF3F;
        border: solid 2px #FFAF3F;
    }
    .layer-thumbnails-nav-container {
        height: 64px;
        width: 256px;
        display: none;
        align-items: center;
        text-align: center;
    }
    .layer-thumbnails-nav__btn {
        font-family: "Avenir", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        color: white;
        margin: 8px;
        width: 64px;
        height: 32px;
        border-radius: 8px;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        background-color: #FFAF3F;
        outline-style: none;
        -webkit-appearance: none;
    }
    .layer-thumbnails-nav__btn:active {
        background-color: #FF3F46;
    }
    .layer-thumbnails-nav {
        width: 80px;
        /*flex: 1;*/
    }
    .layer-thumbnails-nav-layer {
        font-size: 20px;
        font-family: "Aleo Bold", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #528CA5;
        flex: 2;
        text-align: center;
        justify-content: center;
        display: none;
    }
    .layer-thumbnails-nav-page-num {
        font-family: "Aleo Bold", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #528CA5;
        flex: 2;
    }
    .additional-info {
        font-family: "Aleo Regular", sans-serif;
        font-weight: normal;
        font-style: normal;
        height: 12px;
        margin-top: 2px;
    }
    .additional-info__link {
        color: #528CA5;
        margin-right: 8px;
        text-decoration: none;
        flex-flow: column wrap;
       -moz-user-select: -moz-none;
       -khtml-user-select: none;
       -webkit-user-select: none;
       -ms-user-select: none;
       user-select: none;
    }
    .additional-info__link:active {
        color: #1A2E33;
    }
    .logout__link {
        display: none;
    }
    .export-options-logout {
        display: none;
    }
    .disclaimer {
        font-family: "Avenir Light";
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
        color: #528CA5;
    }
    .export-img {
        display: none;
    }
    .export-img-container {
        display: none;
    }
    .export-img-container > a {
        display: none;
    }
    .export-options-all {
        position: absolute;
        background-color: white;
        top: 52px;
        left: 52px;
        width: 400px;
        border-radius: 16px;
        border: solid 4px #FFAF3F;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 12;
        display: none;
    }
    .export-options-all-container {
        padding: 8px;
        text-align: left;
    }
    .export-options-all-container > div {
        padding: 4px;
        /*text-align: left;*/
    }
    .export-options-close {
        margin-top: 8px;
        text-align: center;
    }
    .close-all__link {
        text-align: center;
        font-family: "Avenir Light";
        font-weight: normal;
        font-style: normal;
        color: #528CA5;
    }
    .close-all__link:active {
        color: #1A2E33;
    }
    .export-options__link {
        height: 36px;
        font-family: "Aleo Regular", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 28px;
        color: #FF6F3F;
    }
    .export-options-login {
        position: absolute;
        background-color: white;
        top: 52px;
        left: 52px;
        width: 400px;
        border-radius: 16px;
        border: solid 4px #FFAF3F;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 12;
        display: none;
    }
    .export-options-logo {
        margin-right: 4px;
        height: 32px;
        widows: 32px;
        vertical-align: bottom;
    }
    .export-options-login-submit {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Avenir Light";
        font-weight: normal;
        font-style: normal;
        font-size: 28px;
        color: #528CA5;
        font-weight: normal;
        font-style: normal;
        font-size: 12px;
    }
    .close-login__link {
    }
    .close-login__link:active {
        color: #1A2E33;
    }
    .export-options {
        position: absolute;
        background-color: white;
        top: 52px;
        left: 52px;
        width: 400px;
        /*height: 354px;*/
        border-radius: 16px;
        border: solid 4px #FFAF3F;
        text-align: center;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 12;
    }
    .fb-logo {
        position: absolute;
        left: 44px;
    }
    .export-options__title {
        height: 36px;
        font-family: "Aleo Regular", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 28px;
        color: #FFAF3F;
        margin-top: 8px;
    }
    .export-options__title > a {
        height: 36px;
        font-family: "Aleo Regular", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 28px;
        color: #FFAF3F;
        margin-top: 8px;
    }
    .export-options__body {
        /*height: 216px;*/
        width: 324px;
        text-align: left;
        display: inline;
        font-family: "Aleo Regular", sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        color: #FFAF3F;
        transition: width 1s ease-in-out;
    }
    .export-options-container--tweet {
        display: none;
    }
    .export-options--tweet__text {
        font-family: "Avenir Light", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #528CA5;
        border: 2px solid #528CA5;
        background-color: #CBF2FF;
        height: 60px;
        width: 320px;
        display: inline;
        resize: none;
    }
    .export-options--tweet__text:focus {
        outline: 0;
    }
    .export-options--photo__text {
        font-family: "Avenir Light", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #528CA5;
        border: 2px solid #528CA5;
        background-color: #CBF2FF;
        height: 40px;
        width: 320px;
        display: inline;
        resize: none;
    }
    .export-options--photo__text:focus {
        outline: 0;
    }
    .export-options-container--timeline {
        display: none;
    }
    .export-options--timeline__text {
        font-family: "Avenir Light", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #528CA5;
        border: 2px solid #528CA5;
        background-color: #CBF2FF;
        height: 60px;
        width: 320px;
        display: inline;
        resize: none;
    }
    .export-options--timeline__text:focus {
        outline: 0;
    }
    .export-options-submit {
        height: 40px;
        display: flex;
        flex-direction: row;
        /*margin-top: 8px;*/
    }
    .export-options__btn {
        font-family: "Avenir", sans-serif;
        font-weight: normal;
        font-style: normal;
        color: white;
        border: 2px solid #FF6F3F;
        background-color: #FF6F3F;
        height: 32px;
        width: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: normal;
        border-radius: 8px;
        margin: 4px;
        outline-style: none;
        -webkit-appearance: none;
    }
    .export-options__btn:active {
        border: 2px solid #FF3F46;
        background-color: #FF3F46;
    }
    .export-options__btn--selected {
        border: 2px solid #FF3F46;
        background-color: #FF3F46;
    }
    .layer--background { 
        z-index: 1;
    }
    .layer--face { 
        z-index: 2;
    }
    .layer--hair { 
        z-index: 5;
    }
    .layer--eyebrows { 
        z-index: 4;
    }
    .layer--eyes { 
        z-index: 3;
    }
    .layer--nose { 
        z-index: 8;
    }
    .layer--mouth { 
        z-index: 7;
    }
    .layer--facial-hair { 
        z-index: 6;
    }
    .layer--accessory-1 { 
        z-index: 9;
    }
    .layer--accessory-2 { 
        z-index: 10;
    }
    .layer--accessory-3 { 
        z-index: 11;
    }
}