a {
	color: #FFAF3F;
	text-decoration: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a:active {
	color: #FF6F3F;
}

h3 {
	font-family: "Aleo Bold", arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #528CA5;
}

.info-body__title {
    /*height: 36px;*/
    font-family: "Aleo Bold", sans-serif;
    font-weight: normal;
    font-style: normal;
    /*font-size: 28px;*/
    color: #FFAF3F;
}

.icon {
	height: 32px;
	width: 32px;
	text-decoration: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-right: 8px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

@media screen and (max-width: 500px) {
	.info-container {
		width: 320px;
		margin-top: 8px;
		background-color: white;
		padding: 12px;
	}
	.info-body {
	    font-family: "Avenir Light";
	    font-weight: normal;
	    font-style: normal;
	    font-size: 16px;
	    color: #528CA5;
	    margin-bottom: 8px;
	}
}
@media screen and (min-width: 500px) {
	.info-container {
		width: 720px;
		background-color: white;
		padding: 12px;
	}
	.info-body {
	    font-family: "Avenir Light";
	    font-weight: normal;
	    font-style: normal;
	    font-size: 16px;
	    color: #528CA5;
	    margin-bottom: 8px;
	}
}